%head
  %title Oculus
  %meta{:charset => "utf-8"}
  %meta{:name => "viewport", :content => "width=device-width", "initial-scale" => 1.0}
  %meta{:name => "description", :content => ""}
  %meta{:name => "author" ,:content => ""}
  %link{:href => "/assets/css/bootstrap.min.css", :rel => "stylesheet"}
  %link{:href => "/assets/css/oculus.css", :rel => "stylesheet"}
  %link{:href => "/assets/css/bootstrap-responsive.min.css", :rel => "stylesheet"}

  %link{:rel => "shortcut icon", :href => "/assets/ico/favicon.ico"}
  %link{:rel => "apple-touch-icon-precomposed", :sizes => "144x144", :href => "/assets/ico/apple-touch-icon-144-precomposed.png"}
  %link{:rel => "apple-touch-icon-precomposed", :sizes => "114x114", :href => "/assets/ico/apple-touch-icon-114-precomposed.png"}
  %link{:rel => "apple-touch-icon-precomposed", :sizes => "72x72", :href => "/assets/ico/apple-touch-icon-72-precomposed.png"}
  %link{:rel => "apple-touch-icon-precomposed", :href => "/assets/ico/apple-touch-icon-57-precomposed.png"}
  
  %script{:src => "/assets/js/dygraph-combined.js"}
  %script{:src => "/assets/js/jquery.js"}
  %script{:src => "/assets/js/validate.min.js"}
  %script{:src => "/assets/js/oculus.js"}